.busSchedule{
    opacity: 0;
    transition: all 0.15s ease-out;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
}

.busSchedule .tabContainer{
    margin-top: 10px;
    width: 100%;    
    margin-right: auto;
}

.busSchedule .tabContainer .tab{
    width: 45%;
    border:none;
    padding: 5px;
    background: transparent; 
    color: #6C7A89; 
    border: 2px solid #5cb85c;
    border-radius: 8px 0px 0px 8px;
    font-size: 16px;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
}


.busSchedule .tabContainer .tab:last-child{
    border-radius: 0px 8px 8px 0px;
}

.busSchedule .tabContainer .tab:hover{
    background-color: #79cc8d;
    color: white;
}

.busSchedule .tabContainer .tab.active{
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    background-color: #5cb85c;
    color: white;
}

.busSchedule .stationContainer{
    left: 5%;

    width: 95%;
    margin-left: auto;
    margin-top: 5px;
    border-radius: 8px;
}

.busSchedule .stationContainer .station{
    margin-top:5px;
    margin-bottom: 10px;
    overflow: auto;
}

.busSchedule .stationContainer .station ul{
    width: 100%;
    text-align: left;
    list-style-type:none;
    padding: 0 0;
}

.busSchedule .stationContainer .station ul li{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    display: flex;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
}

.busSchedule .stationContainer .station ul li:hover{
    background-color: #6C7A89 !important;
    color:white;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
}
.busSchedule .stationContainer .station ul li.letters {
    word-wrap: break-word;
}

.busSchedule .stationContainer .station ul li:nth-child(even){
    background-color:  #c4c6c7;
}

.busSchedule .stationContainer .station ul li i{
    margin: auto;
    text-align: center;
    padding-right: 10px;
    width: 15%;
}

.busSchedule .stationContainer .station ul li p{
    margin: auto;
    text-align: left;
    width: 85%;
}

.Schedule .stationName{
    background-color: #FBC02D;
    border-radius: 10px;
    padding: 3px 5px;
    margin: 5px 15px;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
}

/* .Schedule .stationName:hover{
    background-color: rgb(185, 142, 32);
    color:white;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
} */

.Schedule .stationName h1{
    padding: 0 15px;
    margin: 10px 0;
    font-size: 20px;
    width: 100%;
}

.Schedule .timeTable{
    overflow: auto;
    margin-top: 15px;
}

.Schedule .timeTable ul{
    list-style-type:none;
    margin: auto;
    padding: 0;
    width: 100%;
}

.Schedule .timeTable ul li .timeHeader{
    padding: 10px;
    margin: 3px 0px;
    margin-left: 20px;
    display: flex;
    width: 90%;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    border-radius:10px;
}

.Schedule .timeTable ul li .timeHeader:hover{
    background-color: #747474;
    color:white;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
}

.Schedule .timeTable ul li .timeHeader:active, .Schedule .timeTable ul li .timeHeader:focus, .Schedule .timeTable ul li .timeHeader.active{
    background-color: #3b3b3b;
    color:white;
}

.Schedule .timeTable ul li .timeHeader p{
    margin: auto;
    text-align: center;
    font-size: 20px;
}


.Schedule .timeTable ul li .timeContent{
    color: #000;
    opacity: 0;
    margin: auto;
    margin-left: 30px;
    width: 85%;
    padding: 0 10px;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
}

.Schedule .timeTable ul li .timeContent p{
    margin-bottom: 0;
}

.Schedule .timeTable ul li .timeContent hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #3b3b3b;
    padding: 0; 
}

.preload{
    height: 100%;
    margin: auto;
}

.error{
    margin: 0 auto;
    padding: 50px 0;
    font-size: 30px;
    text-align: center;
}
.error h2{
    margin: 0;

}


@keyframes spinner {
    to {transform: rotate(360deg);}
  }
   
.spinner:before {
content: '';
box-sizing: border-box;
position: absolute;
top: 50%;
left: 50%;
width: 40px;
height: 40px;
margin-top: -15px;
margin-left: -15px;
border-radius: 50%;
border: 2px solid #ccc;
border-top-color: #46C694;
animation: spinner .6s linear infinite;
}



